@model List<Category>
@{
    ViewData["Title"] = "Category";
}
<partial name="_Notification" />
<div class="border p-5 rounded-lg shadow-lg mt-5">
    <div class="flex justify-between items-center mb-5">
        <h1 class="text-zinc-900 text-3xl font-semibold">Category List</h1>
        <a asp-action="Create" asp-controller="Category" class="btn-dark inline-flex items-center gap-2">
            <i class="fi fi-rr-add flex items-center justify-center"></i>
            Create
        </a>
    </div>

    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-zinc-500 border rounded-lg overflow-hidden">
            <thead class="text-xs text-zinc-50 bg-zinc-900 uppercase">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Display Order
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var category in Model.OrderBy(o => o.DisplayOrder))
            {
                <tr class="bg-white border-b">
                    <td class="px-6 py-4">@category.Name</td>
                    <td class="px-6 py-4">@category.DisplayOrder</td>
                    <td class="px-6 py-4 flex items-center gap-4">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id"><i class="fi fi-rr-file-edit flex items-center justify-center text-xl font-semibold text-sky-600"></i></a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id"><i class="fi fi-rr-trash flex items-center justify-center text-xl font-semibold text-red-600"></i></a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>